/* General Parameters */
:root {
    --primary-text: #dae6e5;
    --primary-title: #2DC9BA; 
	--primary-link-text: #48C9B0;
	--primary-bg: #2E3B4E;
	--primary-acc: #ffb325; /* not used yet */
    --primary-glass1: #17213072;
    --primary-glass2: #17213089;
    --primary-glass3: #172130a0;
    --primary-glass4: #172130a8;
	
	--nav-text: #FFFFFF;
	
	--secondary-text: #2b2b2b;
	--secondary-title: #315857; /* not used yet */
	--secondary-link: #48C9B0; /* not used yet */
    --secondary-bg: #adadad; 
	--secondary-acc: #ee852f; /* not used yet */
	--secondary-glass1: #f0f0f0e1;
    --secondary-glass2: #ddddddbd;
    --secondary-glass3: #c8c8c8b6;
    --secondary-glass4: #a7a7a7a1;

    
	--act-bg: #000000CC; /* not used yet */
	--act-text: #FFFFFF; /* not used yet */
	--act-border: #48C9B0; /* not used yet */
	
	--act-bg-hover: #48C9B0; /* not used yet */
	--act-text-hover: #000000; /* not used yet */
	--act-border-hover: #000000; /* not used yet */
	
	--dis-text: #889E9C; /* not used yet */
	--dis-bg: #A4B7B6; /* not used yet */
	--dis-border: #A4B7B6; /* not used yet */
	
	--link-text: #48C9B0; /* not used yet */
	--link-text-hover: #E9F4F3; /* not used yet */
	--link-bg-hover: #00000000; /* not used yet */
	
    --gradient-color-1: #1b2838;
    --gradient-color-2: #202020;
    --gradient-color-3: #34495e;

    --glass: #00000000;
    --glass2: #00000000;
    --glass-color: #1e5f593e;


}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
    
    background-repeat: no-repeat; /* Verhindert Wiederholung */
    background-attachment: fixed; /* Fixiert den Verlauf beim Scrollen */
    background-size: 150% 150%;
    animation: gradient-animation 15s ease infinite;
    color: var(--primary-text);
    position: relative;
    display: grid;
    grid-template-columns: 1fr; /* Standard: Nur eine Spalte */
    grid-template-rows: auto; /* Automatische Zeilenhöhe */
    gap: 15px; /* Abstand zwischen den Elementen */
    z-index: 0;
    overflow-x: hidden; /* Verhindert horizontalen Scrollen */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="1" numOctaves="2" stitchTiles="stitch"/></filter><rect width="100" height="100" filter="url(%23noise)" opacity="0.05"/></svg>');
    pointer-events: none;
    z-index: 1;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-title);
    padding: 0;
    margin: 9px 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.455);
    
}

nav, footer {
    background: transparent;
    color: var(--nav-text);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1; /* Footer nimmt die gesamte Breite ein */
}

nav {
    position: fixed; /* Macht die Navigationsleiste fixiert */
    top: 0; /* Hält sie oben auf der Seite */
    left: 0; /* Linksbündig */
    width: 100%; /* Breite auf die gesamte Seite setzen */
	z-index: 3;
	backdrop-filter: none; /* Kein Blur standardmäßig */
    transition: background-color 0.5s ease, backdrop-filter 0.5s, opacity 0.5s ease; /* Weicher Übergang */
}

nav.scrolled {
    backdrop-filter: blur(3px); /* Blur-Effekt bei Scrollen */
	background-color: rgba(30, 40, 50, 0.9);
}

details {
    padding: 0;
    transition: height 400ms ease;
    height: 60px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: none;
  
}

details[open] {
    height: 60vh;
}

summary {
    position: sticky;
    top:0;
    left:0;
    display: flex;
    margin-bottom: 10px;
}

.details-content {
}


nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 40px;
    margin-right: 10px;
}

#nav-header {
    margin-left: 10px;

}

.smooth-box {
    opacity: 1; /* Voll sichtbar */
    visibility: visible; /* Sichtbar */
    transition: opacity 0.8s ease, visibility 0.8s ease; /* Smooth Transition */
}

.smooth-box.hidden {
    opacity: 0; /* Unsichtbar */
    visibility: hidden; /* Deaktiviert nach Übergang */
}

.no-scroll {
    overflow: hidden;
    height: 100%; /* Verhindert, dass der Inhalt sichtbar wird */
}

.menu {
    margin-right: 15px;
}

.button {
    color: var(--link-text);
    margin: 0 5px;
	padding: 9px 7px;
	border-radius: 500px;
    font-size: 1rem;
    background: var(--act-bg);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.link {
    color: var(--link-text);
    background: transparent;
}

.link:hover {
    color: var(--link-text-hover);
    text-decoration: underline;
    text-underline-offset: 4px;
    background: var(--link-bg-hover);
    transition: all 0.5s ease;
}

.button:hover {
    background: var(--act-bg-hover);
    color: var(--act-text-hover);
    transition: all 0.5s ease;
    
}

/* Standard-Styles */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Standardmäßig ausgeblendet */
    flex-direction: column; /* Mobile: Links untereinander */
    position: absolute;
    top: 60px; /* Unterhalb der Navigationsleiste */
    right: 10px; /* Rechtsbündig */
    width: calc(100% - 20px); /* Feste Breite innerhalb des Bildschirms */
    max-width: 250px; /* Maximale Breite */
    background: #2E3B4Ee9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    max-height: 0; /* Standard: Menü geschlossen */
    opacity: 0; /* Unsichtbar */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Sanfte Animation */
    backdrop-filter: blur(10px); /* Frosted-Glass-Effekt */
    -webkit-backdrop-filter: blur(10px);
}

/* Zeige das Menü an, wenn die Klasse 'open' hinzugefügt wird */
.nav-links.open {
    display: flex; /* Zeigt das Menü an */
    max-height: 500px; /* Genug Platz für alle Links */
    opacity: 1; /* Sichtbar */
}

/* Links innerhalb des Dropdowns */
.nav-links li {
    position: relative; /* Ermöglicht, dass das <a> die Fläche ausfüllt */
    padding: 3px; /* Entfernt Standard-Padding */
    transition: all 0.5s ease;
}

.nav-links li a {
    display: block; /* Das <a> nimmt jetzt die gesamte Fläche ein */
    width: 100%; /* Breite auf 100% des Eltern-Elements setzen */
    height: 100%; /* Höhe auf 100% des Eltern-Elements setzen */
    padding: 10px 15px; /* Padding innerhalb des Links hinzufügen */
    margin: auto 0;
    text-align: left; /* Text zentrieren */
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-links li a:hover, .link-hover {
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
}

#theme-toggle {
    margin-left: 10px;
}

/* Zahnrad-Button */
#menu-button {
    background: none;
    border: none;
    color: var(--link-text);
    cursor: pointer;
    font-size: 1.5rem;
}

aside.dataset-summary {
    display: block;
    line-height: 1.2;

    position: fixed; /* Fixiert am Bildschirm */
    top: 0;
    right: -130%; /* Komplett außerhalb des Bildschirms */
    width: 100%; /* Über den gesamten Bildschirm */
    height: 100%; /* Voller Bildschirmhöhe */
    background: linear-gradient(90deg, var(--dis-bg), var(--dis-bg), var(--dis-bg), var(--dis-bg));
    z-index: 6; /* Über allen anderen Elementen */
    transition: right 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth Transition */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Optionaler Schatten */
    overflow-y: auto; /* Scrollbar bei Bedarf */
}

/* Sichtbar: In den Bildschirm geslided */
.dataset-summary.active {
    right: 0; /* Position innerhalb des Bildschirms */
    box-sizing: border-box;
    padding: 20px;
}

.dataset-summary.active[style] {
    right: 0; /* Überschreibt den Style von transform */
    transform: none; /* Zurücksetzen */
}

#close-aside {
    display: block;
    padding: 3px 7px;
    margin-bottom: 15px;
}

.aside-header {
    text-align: center;
    display: inline;
    padding: 3px 16px;
    margin-left: -12px;
    background: linear-gradient(to right, transparent, var(--glass-color), var(--glass-color), transparent);
    color: var(--primary-title);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right,transparent, #229A8F, transparent);
    border-image-slice: 1;
    backdrop-filter: blur(5px);
    text-shadow: none !important; 

}

.aside-below-title {
    margin-top: 17px;
}

.aside-above-title {
    margin-bottom: 35px;
}

.aside-text {
    font-size: 13px;
    color: var(--primary-text);
}

aside li {
    margin-left: -15px; /* Verschiebt die Bullet Points weiter nach links */
}

main {
    padding: 10px;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
    
}

section.intro {
    text-align: center;
    padding: 40px 30px;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
    margin: 70px 0 30px;
}

section.charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ermöglicht Zeilenumbruch bei kleinen Bildschirmen */
    padding: 20px 0;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
}

.chart-container {
    width: 100%; /* Standardgröße bei großen Bildschirmen */
    height: 80vh;
    max-height: 350px;
	padding: 10px 0;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
    
}



canvas {
    width: 100% !important; /* Stellt sicher, dass das Canvas skaliert wird */
    height: 100% !important; /* Verhindert verzerrte Skalierung */
}

section.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
}

.investment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background: transparent;
    backdrop-filter: none;
    border-radius: 10px;
}

.investment-item {
    color: var(--primary-text);
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s ease;
	
    backdrop-filter: blur(10px);
}

[data-theme="dark mode"] .investment-item {
    background-color: var(--primary-glass4);
}

[data-theme="light mode"] .investment-item {
    background-color: var(--secondary-bg);
}

.investment-item:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
    padding: 10px;
	display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center;    /* Zentriert den Inhalt vertikal */
}

.action-button {
    position: fixed;
    bottom: 23px; /* Abstand von der unteren Kante */
    right: 23px; /* Abstand von der rechten Kante */
    width: 50px; /* Größe des Buttons */
    height: 50px;
    background-color: var(--act-bg-hover);
    color: black;
    border-radius: 50%; /* Rundes Design */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Schatteneffekt */
    cursor: pointer;
    z-index: 5; /* Über anderen Elementen */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth Animation */
}

.action-button:hover {
    color: var(--act-bg-hover); /* Dunklere Farbe bei Hover */
    background-color: var(--act-bg);
}

.action-button i {
    font-size: 24px; /* Größe des Plus-Symbols */

}

#action-header {
    display: none;
    padding-right: 15px;
    font-size: 18px;
    text-shadow: 0px 1px 1px #00000039;
    
}

.slide-view {
    position: fixed;
    bottom: -120%; /* Startet außerhalb des Bildschirms */
    left: 0;
    width: 100%;
    height: 100%; /* Höhe des Slide-Views */
    background: transparent; /* Hintergrundfarbe */
    transition: bottom 0.3s ease-in-out; /* Smooth Animation */
    z-index: 4;
    overflow: hidden;
}

.slide-view-content {
    height: 100%;
    overflow-y: auto; /* Ermöglicht Scrollen, falls Inhalt länger als Viewport */
    padding: 5px 20px 40px 20px;
    margin-top: -1px;
    box-sizing: border-box;
    backdrop-filter: blur(10px); /* Frosted-Glass-Effekt */
    -webkit-backdrop-filter: blur(10px);
}

[data-theme="dark mode"] .slide-view-content {
    background: linear-gradient(to bottom, var(--primary-glass1) , var(--primary-glass1) 20%, var(--primary-glass2), 
        var(--primary-glass3) , var(--primary-glass4) ); /* Dunkler Verlauf nach unten */
}

[data-theme="light mode"] .slide-view-content {
    background: linear-gradient(to bottom, var(--secondary-glass1) , var(--secondary-glass1) 20%, var(--secondary-glass2), 
        var(--secondary-glass3) , var(--secondary-glass4) ); /* heller Verlauf nach unten */
}

#handle-container {
    width: 100%;
    height: 28px;
    padding-top: 20px;
    cursor: grab;
    backdrop-filter: blur(4px); /* Frosted-Glass-Effekt */
    background: linear-gradient(to bottom, #34393840, #445a5648, #37524e58, #1b48413e, #4454514b);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 
        inset 0 2px 6px rgba(149, 149, 149, 0.738), /* Innerer Lichtreflex */
        0 6px 4px rgba(0, 0, 0, 0.779); /* Unten: Schmaler Schatten */
}

#handle {
    width: 50px;
    height: 6px;
    margin: auto auto;
    background: linear-gradient(to bottom, #a5ffeaab 50%, #007652d9); /* Graugrüne Metallic-Töne */
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(239, 239, 239, 0.57), /* Lichtreflexe oben */
                1px 2px 4px rgba(0, 0, 0, 0.3); /* Tieferer externer Schatten */
    
}

.editor-container {
    width: 75vw;
    max-width: 700px;
    height: max-content;
    max-height: 550px;
    overflow: auto;
}

.editor-container table {
    border: none;
    border-collapse: collapse;
}

.editor-container tr {
    cursor: pointer;
}

/* Alternative: Dünne Scrollbars (wenn nicht komplett verstecken möglich) */
.editor-container::-webkit-scrollbar {
    width: 7px; /* Breite der Scrollbar */
    height: 7px; /* Höhe der horizontalen Scrollbar */
}

.editor-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.19) !important; /* Farbe des Scrollbalkens */
    border-radius: 5px; /* Abgerundete Kanten */
}

.editor-container::-webkit-scrollbar-track {
    background-color: transparent !important; /* Hintergrund des Scrollbereichs */
}

.editor-container::-webkit-scrollbar-corner {
    background-color: transparent !important;
}

.editor-header {
    position: sticky; /* Fixiert die Header-Zellen */
    top: 0; /* Fixiert sie oben */
}

.editor-header tr {
    font-weight: bold;
    background-color: var(--primary-bg);
    box-shadow: 
        inset 0 3px 9px rgba(111, 166, 201, 0.14), /* Lichtreflexe oben */
        1px 3px 10px rgba(45, 45, 45, 0.555); /* Tieferer externer Schatten */
}

[data-theme="dark mode"] .editor-header tr {
    background-color: #18202d; /* Dunkler Verlauf nach unten */
}

[data-theme="light mode"] .editor-header tr {
    background-color: var(--secondary-bg);
    color: var(--secondary-title);
}

.editor-header th, td {
    width: 140px; /* Fixe Spaltenbreite */
    min-width: 140px; /* Mindestens 150px breite Spalten */
    max-width: 140px; /* Maximal 150px breite Spalten */
    padding: 13px;
    text-align: left;
    word-wrap: break-word; /* Zeilenumbruch für längere Inhalte */
}

.editor-body tr {
    cursor: pointer; /* Zeigt an, dass die Zeile interaktiv ist */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.editor-body tr:hover {
    background-color: #48c9afc5 !important; /* Hervorheben beim Hover */
    color: black;
}

.editor-body tr.selected {
    background-color:#48C9B0 !important; /* Markieren der ausgewählten Zeile */
    color: black;
}

.editor-body tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.025); /* Dezentes Zebra-Muster */
}

/* Mobile Anpassung */
@media (max-width: 768px) {
    .editor-container {
        width: 100%;
    }

    .editor-header, .editor-body {
        overflow-x: scroll;
    }
}

/* Zentrierte Upload-Box */
.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.upload-box {
    border-radius: 10px;
    padding: 30px;
    margin:30px;
    text-align: center;
    width: 50%;
    max-width: 600px;
    transition: background-color 0.3s;
}

[data-theme="light mode"] .upload-box:hover {
    background-color: var(--act-bg-hover);
    border: 3px dashed black;
    cursor:pointer;
}

[data-theme="light mode"] .upload-box {
    background-color: var(--secondary-text);
    border: 3px dashed var(--act-bg-hover);
    cursor:pointer;
}

[data-theme="dark mode"] .upload-box {
    background-color: var(--primary-bg);
    border: 3px dashed var(--link-text);
    cursor:pointer;
}

[data-theme="dark mode"] .upload-box:hover {
    background-color: #202b3b;
    cursor:pointer;
}


.upload-icon {
    font-size: 50px;
    margin-bottom: 20px;
}

[data-theme="dark mode"] .upload-icon {
    color: var(--link-text);
}

[data-theme="light mode"] .upload-icon:hover {
    color: black;
}

[data-theme="light mode"] .upload-box  .upload-icon,
[data-theme="light mode"] .upload-box  .upload-text,
[data-theme="light mode"] .upload-box  .upload-subtext{
    color: var(--link-text);
}

[data-theme="light mode"] .upload-box:hover  .upload-icon,
[data-theme="light mode"] .upload-box:hover  .upload-text,
[data-theme="light mode"] .upload-box:hover  .upload-subtext{
    color: var(--primary-text);
}


.upload-text {
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--primary-text);
}

.dummy-click {
    color: var(--primary-title);
    text-decoration: underline;
    cursor: pointer;
    z-index: 7;
}

[data-theme="dark mode"] .dummy-click:hover {
    color: white;
}
 [data-theme="light mode"] .dummy-click:hover {
    color: white;
 }

.upload-subtext {
    font-size: 13px;
    color: var(--primary-text);
}

/* Editor-Container initial ausgeblendet */
.editor-container.hidden {
    display: none;
}

.upload-process {
    margin-top: 16px;
}

.summary-icon {
    margin-left: auto;
    font-size: 25px;
}

#identify-icon-summary {
    display: none;
}

.upload-process summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.301);
}

[data-theme="dark mode"] .upload-process summary {
    color: var(--primary-title);
    background-color: #344359;
}

[data-theme="dark mode"] .upload-process summary:hover {
    background-color: var(--primary-bg);
}

[data-theme="light mode"] .upload-process summary {
    color: var(--link-text);
    background-color: #344359;
}

[data-theme="light mode"] .upload-process summary:hover {
    background-color: #293546;
}


.upload-process details[open] {
    /* background-color: var(--primary-glass1); */
    border: 1px solid rgba(98, 98, 98, 0.415);
    
}

.columns-container {
    width: fit-content;
    border-radius: 8px;
    padding: 15px;
}
.columns-parser {

}

.columns-instruction {
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--primary-text);
    text-wrap-mode: nowrap;
}

.columns-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-disabled summary {
    pointer-events: none; /* Verhindert Interaktion */
    
    cursor: not-allowed; /* Optional: Zeigt an, dass es deaktiviert ist */
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 31vw; /* Hauptinhalt + Platz für aside */
        grid-template-areas: 
            "intro intro"
            "main aside"; /* Anordnung der Bereiche */
        grid-template-rows: auto 1fr;
    }

    .nav-links {
        display: flex !important; /* Immer sichtbar im Desktop-Modus */
        flex-direction: row; /* Horizontal ausrichten */
        position: static; /* Standardposition */
        width: auto; /* Breite automatisch */
        max-width: none;
        max-height: none; /* Keine Höhenbegrenzung */
        opacity: 1; /* Sichtbar */
        background: none; /* Kein Hintergrund */
        box-shadow: none; /* Kein Schatten */
        overflow: visible; /* Kein Abschneiden */
        transition: none; /* Keine Animation */
    }
    
    /* Entferne die mobile Klasse `.open` im Desktop-Modus */
    .nav-links.open {
        display: flex; /* Immer sichtbar */
        max-height: none; /* Deaktiviere Höhenbegrenzung */
        opacity: 1; /* Volle Sichtbarkeit */
    }
    
    .nav-links li {
        height: fit-content;
        padding: 0;
        text-align: center;
        margin: auto 5px;
        
    }
    
    .nav-links li a {
        display: inline; /* Zurück zum Inline-Element */
        width: auto; /* Standard-Breite */
        height: auto; /* Standard-Höhe */
        padding: 0; /* Kein zusätzliches Padding */
        margin: auto 5px;
        text-align: center; /* Textausrichtung links */
        text-decoration: none;
        transition: all 0.5s ease;
    }
    
    .nav-links li a:hover {
        background-color: var(--link-bg-hover);
    }
    
    .nav-links li button {
        
    }
    
    .nav-links li button:hover {
        
    }
    
    
    #menu-button {
        display: none; /* Verstecke den Menübutton auf großen Bildschirmen */
    }
    
    .intro {
        grid-area: intro;
    }

    main {
        grid-area: main;
        padding: 20px 5px 20px 20px;
    }

    aside.dataset-summary {
        grid-area: aside;
        display: block; /* Sicherstellen, dass aside angezeigt wird */
        margin: 10px 13px 10px 5px;
        height: fit-content;
        padding: 20px 15px;
        background: linear-gradient(90deg, var(--glass), var(--glass), var(--glass), var(--glass2));

        position: unset; /* Fixiert am Bildschirm */
        top: unset;
        right: unset; /* Komplett außerhalb des Bildschirms */
        width: unset; /* Über den gesamten Bildschirm */
        height: fit-content; /* Voller Bildschirmhöhe */
        background-color: unset; /* Hintergrundfarbe */
        z-index: 2; /* Über allen anderen Elementen */
        transition: right 0.3s ease-in-out; /* Smooth Transition */
        box-shadow: unset; /* Optionaler Schatten */
        overflow-y: auto; /* Scrollbar bei Bedarf */
    }

    #close-aside {
        display: none;
    }

    #show-aside {
        display: none;
    }

    .chart-container {
        width: 100%; /* Stellt sicher, dass die Breite 100% beträgt */
        height: 70vh; /* Feste Höhe für die Charts */
        max-height: 650px;
        margin-bottom: 40px; /* Abstand zwischen den Charts */
        position: relative; /* Wichtig für Canvas-Positionierung */
    }
    .chart-container canvas {
        width: 100% !important; /* Verhindert automatische Verkleinerung */
        height: 100% !important; /* Füllt den Container vollständig aus */
    }

    .action-button {
        position: fixed;
        bottom: 23px; /* Abstand von der unteren Kante */
        right: 23px; /* Abstand von der rechten Kante */
        width: 120px; /* Größe des Buttons */
        height: 40px;
        background-color: var(--act-bg-hover);
        color: var(--act-bg);
        border-radius: 500px; /* Rundes Design */
        display: flex;
        justify-content: right;
        align-items: right;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Schatteneffekt */
        cursor: pointer;
        z-index: 5; /* Über anderen Elementen */
        transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth Animation */
    
        padding-right: 18px;
    }

    #action-header {
        display: flex;
        padding-right: 15px;
        font-size: 18px;
        text-shadow: 0px 1px 1px #00000039;
        
    }
}





